<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>

    <ui:composition template="template.xhtml">
        <ui:define name="title">
            Books list
        </ui:define>
        <ui:define name="content">
            <f:metadata>
                <f:viewParam
                        name="publisherId"
                        value="#{publishersBean.publisherId}"
                        />
            </f:metadata>

            <h:dataTable value="#{publishersBean.books}" var="b">
                <h:column>
                    <f:facet name="header">
                        Title
                    </f:facet>
                    <h:outputText value="#{b.title}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Author
                    </f:facet>
                    <h:outputText value="#{b.author}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Price
                    </f:facet>
                    <h:outputText value="#{b.price}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Cover
                    </f:facet>
                    <h:graphicImage value="#{b.cover}"/>
                </h:column>
            </h:dataTable>
        </ui:define>
    </ui:composition>

</h:body>

</html>
